/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

/* layout variables */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}

/* global styles */
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins", sans-serif; /* Added fallback font */
}

.layout {
  display: flex; /* Use flexbox for layout */
}

.with-sidebar {
  /* Adjust width as needed, e.g., to 100% minus the sidebar width */
  width: calc(100% - 250px); /* Adjust based on your sidebar width */
}

.pages {
  flex-grow: 1;
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
  margin-left: 250px;
}

/* typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; /* Normalize heading margins */
}

p {
  margin: 0; /* Normalize paragraph margins */
}

/* buttons */
button {
  cursor: pointer; /* Change cursor to pointer for buttons */
}

/* auth forms */
form.signup,
form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px; /* Added border-radius for aesthetics */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

/* Add any additional global styles here */
